@font-face {
    font-family: 'Italianno';
    src: url('../assets/fonts/italianno-v17-latin-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '1820 Modern W00 Normal';
    src: url('../assets/fonts/1820-Modern-W00-Normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '1820 Modern W00 Italic';
    src: url('../assets/fonts/1820-Modern-W00-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
