@import 'util/index';
@import 'base/index';

html,
body {
    overflow: hidden;
}

body {
    font-size: 100%;
    font-weight: 400;
    font-family: $ff-primary, sans-serif;
    line-height: 1.6;
    color: $c-text;
    background-color: $c-wrapper;
    min-block-size: 100svb;
    touch-action: manipulation;
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
